@font-face {
    font-family: New Super Mario Font U;
    src: url("../blueo110-site/resources/fonts/New Super Mario Font U.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
